@import url(https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap&subset=malayalam);/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
}

.footer-container,
.process .container,
.header-container {
  max-width: 1150px;
  margin: 0 auto;
}

.footer-container .from-blog p,
.footer-container .labs p,
.footer-container .connect p,
.footer-container .about p,
.footer-container .product p,
.footer-container .help p {
  color: #58402c;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}

.footer-container .from-blog li a,
.footer-container .labs li a,
.footer-container .connect li a,
.footer-container .about li a,
.footer-container .product li a,
.call .box-call a,
.header-container .hdcont-one a,
.nav-bar .nav-menu a {
  text-decoration: none;
  color: #58402c;
  font-size: 14px;
  font-weight: 700;
}

.footer-container .from-blog li a:hover,
.footer-container .labs li a:hover,
.footer-container .connect li a:hover,
.footer-container .about li a:hover,
.footer-container .product li a:hover,
.call .box-call a:hover,
.header-container .hdcont-one a:hover,
.nav-bar .nav-menu a:hover {
  color: #30488f;
}

.solutions .reviews,
.solutions .feedback {
  display: flex;
  padding: 80px 0;
}

.solutions .reviews .illustration,
.solutions .feedback .illustration {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.solutions .reviews .illustration img,
.solutions .feedback .illustration img {
  max-width: 768px;
}

.solutions .reviews .solutions-text,
.solutions .feedback .solutions-text {
  width: 50%;
  padding: 10px 0 0 40px;
  display: flex;
  flex-direction: column;
}

.solutions .reviews .solutions-text div,
.solutions .feedback .solutions-text div {
  width: 50%;
}

.solutions .reviews .solutions-text div h2,
.solutions .feedback .solutions-text div h2 {
  color: #58402c;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.solutions .reviews .solutions-text div p,
.solutions .feedback .solutions-text div p {
  color: #58402c;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  padding: 30px 0;
}

.solutions .reviews .solutions-text div a,
.solutions .feedback .solutions-text div a {
  text-decoration: none;
  color: #30488f;
  font-size: 20px;
  font-weight: 700;
}

.solutions .reviews .solutions-text div a:hover,
.solutions .feedback .solutions-text div a:hover {
  color: #263e82;
}

.solutions .reviews .solutions-text div img,
.solutions .feedback .solutions-text div img {
  max-width: 270px;
  margin: 30px 0 0 60px;
}

.solutions .praise,
.solutions .surveys {
  display: flex;
  padding: 80px 0;
}

.solutions .praise .solutions-text,
.solutions .surveys .solutions-text {
  width: 50%;
  padding: 10px 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.solutions .praise .solutions-text div,
.solutions .surveys .solutions-text div {
  width: 50%;
}

.solutions .praise .solutions-text div h2,
.solutions .surveys .solutions-text div h2 {
  color: #58402c;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.solutions .praise .solutions-text div p,
.solutions .surveys .solutions-text div p {
  color: #58402c;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  padding: 30px 0;
}

.solutions .praise .solutions-text div a,
.solutions .surveys .solutions-text div a {
  text-decoration: none;
  color: #30488f;
  font-size: 20px;
  font-weight: 700;
}

.solutions .praise .solutions-text div a:hover,
.solutions .surveys .solutions-text div a:hover {
  color: #263e82;
}

.solutions .praise .solutions-text div img,
.solutions .surveys .solutions-text div img {
  max-width: 270px;
  margin: 30px 0 0 60px;
}

.solutions .praise .illustration,
.solutions .surveys .illustration {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.solutions .praise .illustration img,
.solutions .surveys .illustration img {
  max-width: 768px;
}

.header-nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
}

.nav-bar {
  max-width: 1150px;
  height: 75px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.nav-bar .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.nav-bar .nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

.nav-bar .nav-menu ul {
  list-style-type: none;
}

.nav-bar .nav-menu li {
  display: inline-block;
  margin-right: 35px;
}

.nav-bar .nav-menu li img {
  position: relative;
  top: 4px;
}

.nav-bar .nav-menu #dropbox {
  position: relative;
}

.nav-bar .nav-menu #dropbox .drop {
  border-radius: 7px;
  border: 1px solid #e1ddd4;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: -9px;
  margin-top: 24px;
  background-color: #fff;
  padding: 10px 30px 0 10px;
  display: none;
}

.nav-bar .nav-menu #dropbox .drop div a {
  line-height: 35px;
}

.nav-bar .nav-menu #dropbox .drop.active {
  display: block;
}

.nav-bar .nav-menu button {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #30488f;
  padding: 8px 12px;
  border-radius: 8px;
}

.nav-bar .nav-menu button:hover {
  background-color: #30488f;
}

.nav-bar .nav-menu button:hover p {
  color: #fff;
}

.nav-bar .nav-menu button img {
  height: 18px;
  margin-right: 7px;
}

.nav-bar .nav-menu button p {
  position: relative;
  top: 2px;
  color: #30488f;
  font-size: 14px;
  font-weight: 700;
}

.header-container {
  height: 730px;
  border-top: 76px solid #bdb5af;
  padding: 100px 0;
  display: flex;
}

.header-container .hdcont-one {
  width: 50%;
}

.header-container .hdcont-one h1 {
  font-size: 50px;
  margin-bottom: 30px;
  color: #58402c;
  line-height: 70px;
}

.header-container .hdcont-one h5 {
  font-size: 25px;
  margin-bottom: 30px;
  color: #58402c;
  line-height: 35px;
}

.header-container .hdcont-one .form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 27px;
}

.header-container .hdcont-one .form button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30488f;
  border: 1px solid #30488f;
  padding: 8px 20px;
  border-radius: 8px;
}

.header-container .hdcont-one .form button:hover {
  background-color: #263e82;
}

.header-container .hdcont-one .form button img {
  height: 18px;
  margin-right: 4px;
}

.header-container .hdcont-one .form button p {
  position: relative;
  top: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.header-container .hdcont-one .form span {
  padding: 0 15px;
  color: #bdb5af;
  font-size: 14px;
}

.header-container .hdcont-one a {
  position: relative;
}

.header-container .hdcont-one a i {
  font-size: 13px;
  position: absolute;
  top: 0;
  right: -15px;
}

.header-container .hdcont-two {
  width: 50%;
}

.header-container .hdcont-two img {
  max-width: 570px;
}

.process,
.call {
  background-color: #ffe7d2;
}

.process {
  width: 100%;
}

.process .container {
  padding: 80px 0;
  border-top: 1px solid #bdb5af;
}

.process .container h2 {
  color: #58402c;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.process .container .box {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.process .container .box .figure {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.process .container .box .figure img {
  margin: 0 auto;
}

.process .container .box .figure p {
  text-align: center;
  color: #58402c;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 30px 0;
}

.process .container div {
  display: flex;
  justify-content: center;
}

.process .container div img {
  max-width: 280px;
}

.process .container div h2 {
  color: #58402c;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  padding-top: 90px;
}

.process .container:first-child {
  border-top: none;
}

.solutions {
  width: 100%;
}

.call {
  width: 100%;
}

.call .box-call {
  margin: 0 auto;
  width: 40%;
  padding: 80px 0 60px 0;
  text-align: center;
}

.call .box-call h2 {
  color: #58402c;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding-bottom: 40px;
}

.call .box-call button {
  z-index: 1;
  max-width: 628px;
  padding: 20px 20px 20px 40px;
  border: 1px solid #bdb5af;
  border-radius: 7px;
  background: #fff;
  position: relative;
}

.call .box-call button .quote {
  position: absolute;
  top: -23px;
  left: 0;
}

.call .box-call button p {
  color: #58402c;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 25px;
  text-align: left;
  line-height: 25px;
}

.call .box-call button .photo {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.call .box-call button .photo img {
  margin-right: 10px;
}

.call .box-call button .photo .sign {
  display: flex;
  flex-direction: column;
}

.call .box-call button .photo .sign span {
  color: #30488f;
  font-size: 16px;
  font-weight: 400;
}

.call .box-call button .photo .sign p {
  color: #58402c;
  font-size: 14px;
  font-weight: 400;
}

.call .box-call .form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0 27px 0;
}

.call .box-call .form button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30488f;
  border: 1px solid #30488f;
  padding: 8px 20px;
  border-radius: 8px;
}

.call .box-call .form button:hover {
  background-color: #263e82;
}

.call .box-call .form button img {
  height: 18px;
  margin-right: 4px;
}

.call .box-call .form button p {
  position: relative;
  top: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0;
}

.call .box-call .form span {
  padding: 0 15px;
  color: #bdb5af;
  font-size: 14px;
}

.call .box-call a {
  position: relative;
}

.call .box-call a i {
  font-size: 13px;
  position: absolute;
  top: 0;
  right: -15px;
}

.footer-container {
  height: 580px;
  padding: 100px 0 80px 0;
  display: flex;
}

.footer-container .help {
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.footer-container .help img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

.footer-container .help p a {
  color: #30488f;
  text-decoration: none;
}

.footer-container .help p a:hover {
  text-decoration: underline;
}

.footer-container .product {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container .product li {
  line-height: 35px;
}

.footer-container .about {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container .about li {
  line-height: 35px;
}

.footer-container .connect {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container .connect li {
  line-height: 35px;
}

.footer-container .labs {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container .labs li {
  line-height: 35px;
}

.footer-container .from-blog {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-container .from-blog li {
  line-height: 35px;
}

.footer-container .from-blog li a {
  position: relative;
}

.footer-container .from-blog li a i {
  font-size: 13px;
  position: absolute;
  top: 0;
  right: -15px;
}

body {
  background-color: #ffffff;
}

