.process, .call {
    background-color: $section_bg;
}

.process {
    width: 100%;
    height: 1200px;
}

.solutions {
    width: 100%;
    .feedback {
        @extend %illeftSolu;
    }
    .surveys {
        @extend %ilrightSolu;
    }
    .reviews {
        @extend %illeftSolu;
    }
    .praise {
        @extend %ilrightSolu;
    }
}

.call {
    width: 100%;
    height: 600px;
}