// Font Manjari
@import url('https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap&subset=malayalam');

/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
    user-select: none;
    list-style: none;
}

// Variabili Larghezza
$width_big: 50%;
$width_medium: 40%;
$width_small: 12%;

// Background-color
$body_bg: #ffffff;
$section_bg: #ffe7d2;

// PLACEHOLDER
// Container
%container {
    max-width: 1150px;
    margin: 0 auto;
}
// Button Line
%bottomLine {
    width: 75%;
    margin: 0 auto;
}
// Tag <p> Footer
%pFooter {
    color: #58402c;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}
// Tag <a>
%aTag {
    text-decoration: none;
    color: #58402c;
    font-size: 14px;
    font-weight: 700;
    &:hover {
        color: #30488f;
    }
}

// File Importati
@import "header";
@import "main";
@import "footer";

body {
    background-color: $body_bg;
}
